/* stylesheets/Login.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
}
a:hover{
  cursor: pointer;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background-color: #fff;
  padding: 2.5rem 3rem;
  border-radius: 20px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-card h1 {
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 2rem;
}

.subtitle {
  color: #666;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

.form-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  color: #444;
  font-weight: 500;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #8e44ad;
  box-shadow: 0 0 0 2px rgba(142, 68, 173, 0.2);
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.checkbox-group label {
  margin: 0;
  color: #555;
}

.forgot-password {
  text-align: right;
  margin-top: 0.5rem;
}

.forgot-password a {
  font-size: 0.85rem;
  color: #8e44ad;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.auth-btn {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.8rem;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-btn:hover {
  background-color: #732d91;
}

.auth-switch {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-switch span {
  color: #8e44ad;
  cursor: pointer;
  font-weight: 500;
}

.auth-switch span:hover {
  text-decoration: underline;
}
